<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ShopFinder{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2" crossorigin="anonymous"></script>
</head>
<body>
<header class="site-header">
    <a href="/" class="brand">ShopFinder</a>
    <nav>
        <a href="/">검색</a>
        <a href="/history">히스토리</a>
        <a href="/settings">설정</a>
        <a href="/admin/warnings">경고</a>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
